
{{#if @site.logo}}
    <div class="logo">
<a class="blog-logo" href="{{@blog.url}}">
        <img class="blog-logo-image" src="{{@blog.logo}}" alt="Blog Logo"/>
</a>
    </div>
{{/if}}


<h5>{{@site.title}}</h5>
<hr>
<ul class="list-unstyled menu">
    <li>
        <a href="https://github.com/mindfocus" target="_blank">
         <i class="el el-github"></i> GitHub
        </a>
    </li>

    {{#if @site.facebook}}
        <li>
            <a href="{{facebook_url}}" target="_blank">
                <i class="el el-facebook"></i> {{@site.facebook}}
            </a>
        </li>
    {{/if}}

    {{#if @site.twitter}}
        <li>
            <a href="{{twitter_url}}" target="_blank">
                <i class="el el-twitter"></i> {{@site.twitter}}
            </a>
        </li>
    {{/if}}
</ul>



